#home-link
{
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#home-link:focus
{
  outline:none !important;
  box-shadow: none !important;
}

#app-version
{
  z-index: 1;
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
}

.logo
{
  z-index: 1;
  position: fixed;
  margin: 10px;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background: url("/assets/images/logo.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
