@import '~@angular/material/theming';
@include mat-core();

html
{
  height: 100%;
  box-sizing: border-box;
}

body
{
  height: 100%;
  margin: 0;
  color: var(--text-color-hard);
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

$theme-primary: mat-palette($mat-indigo);
$theme-accent: mat-palette($mat-pink);
$theme-warn: mat-palette($mat-red);

$theme-primary-dark: mat-palette($mat-indigo, 300);
$theme-accent-dark: mat-palette($mat-pink, 300);
$theme-warn-dark: mat-palette($mat-red, 300);

$light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
$dark-theme: mat-dark-theme($theme-primary-dark, $theme-accent-dark, $theme-warn-dark);

.color-scheme-dark
{
  @include angular-material-theme($dark-theme);
  background-color: #121212;
  .mat-expansion-panel
  {
    background: none;
  }
}

.color-scheme-light
{
  @include angular-material-theme($light-theme);
  background-color: white;
}
