<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="menu-sidenav" mode="side" position="start" autoFocus="true">
    <mat-toolbar color="red">
      <mat-toolbar-row>
        <span>ToDo</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.close();" [disabled]="!sidenav.opened" color="warn" aria-label="Close sidenav">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-content>
      <app-menu></app-menu>
    </mat-sidenav-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-todo></app-todo>
    <div id="menu">
      <button mat-icon-button (click)="sidenav.open()" [disabled]="sidenav.opened" color="primary" aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div id="user">
      <ngx-auth-firebaseui-avatar
      [canEditAccount]="false"
      layout="other">
      </ngx-auth-firebaseui-avatar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
