.container
{
  height: 100%;
  background-color: inherit;
}

.menu-sidenav
{
  min-width: 200px;
}
.menu-sidenav mat-toolbar .spacer
{
  flex: 1 1 auto;
}

#menu
{
  z-index: 2;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
}

#user
{
  z-index: 1;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
}
